[submodule "bin/ddg_data"]
	path = bin/ddg_data
	url = https://github.com/justinls/ddg.git
[submodule "zsh/bundle/oh-my-zsh"]
	path = zsh/bundle/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/bundle/pure"]
	path = zsh/bundle/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "config/bgw-common/tmux-powerline"]
	path = config/bgw-common/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
