
[Desktop Entry]
Name=Uzbl
Exec=uzbl
Type=Application
Icon=/usr/share/uzbl/examples/data/uzbl.png
Comment=Web interface tools which adhere to the unix philosophy
